#!/usr/bin/env bash

# Software Updates

function update() {
  brew update;
  brew upgrade;
  brew cleanup;
  brew doctor;
  rvm get stable;
  rvm cleanup all;
}

# Sharing and Presentation

function startshare() {
  donotdisturb;
  hidedesktop;
}

function stopshare() {
  showdesktop;
  dodisturb;
}

function toggledisturb() {
  osascript <<EOD
    tell application "System Events" to tell process "SystemUIServer"
      key down option
      click menu bar item 1 of menu bar 1
      key up option
    end tell
EOD
}

function donotdisturb() {
	if [[ $(defaults read ~/Library/Preferences/ByHost/com.apple.notificationcenterui doNotDisturb | grep 0) ]]; then
    toggledisturb;
  fi
}

function dodisturb() {
	if [[ $(defaults read ~/Library/Preferences/ByHost/com.apple.notificationcenterui doNotDisturb | grep 1) ]]; then
		toggledisturb;
  fi
}

function hidedesktop() {
  defaults write com.apple.finder CreateDesktop -boolean false;
  killall Finder;
}

function showdesktop() {
  defaults write com.apple.finder CreateDesktop -boolean true;
  killall Finder;
}

# Cache Clearing

function flush() {
  dscacheutil -flushcache;
  sudo dscacheutil -flushcache;
  sudo killall -HUP mDNSResponder;
}
